

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-523669372808463424.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-523669372808463424.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-523669372808463424.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-523669372808463424.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-523669372808463424.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-523669372808463424.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-523669372808463424.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-523669372808463424.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-523669372808463424.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-523669372808463424.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-523669372808463424.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-523669372808463424.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-523669372808463424.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-523669372808463424.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-523669372808463424.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-523669372808463424.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-523669372808463424.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-523669372808463424.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-523669372808463424.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-523669372808463424.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-523669372808463424.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-523669372808463424.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-523669372808463424.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-523669372808463424.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-523669372808463424.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-523669372808463424.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-523669372808463424.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-523669372808463424.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-523669372808463424.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-523669372808463424.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-523669372808463424.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-523669372808463424.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-523669372808463424.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-523669372808463424.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-523669372808463424.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-523669372808463424.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-523669372808463424.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-523669372808463424.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-523669372808463424.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-523669372808463424.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-523669372808463424.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-523669372808463424.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-523669372808463424.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-523669372808463424.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-523669372808463424.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-523669372808463424.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-523669372808463424.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-523669372808463424.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-523669372808463424.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-523669372808463424.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-523669372808463424.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-523669372808463424.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-523669372808463424.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-523669372808463424.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-523669372808463424.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-523669372808463424.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-523669372808463424.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-523669372808463424.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-523669372808463424.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-523669372808463424.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-523669372808463424.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-523669372808463424.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-523669372808463424.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-523669372808463424.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-523669372808463424 .-gp-rotate-90,.gps-523669372808463424 .gp-rotate-180,.gps-523669372808463424 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-523669372808463424 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-523669372808463424 .gp-relative{position:relative}.gps-523669372808463424 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-523669372808463424 .gp-mb-0{margin-bottom:0}.gps-523669372808463424 .gp-flex{display:flex}.gps-523669372808463424 .gp-inline-flex{display:inline-flex}.gps-523669372808463424 .gp-grid{display:grid}.gps-523669372808463424 .\!gp-hidden{display:none!important}.gps-523669372808463424 .gp-hidden{display:none}.gps-523669372808463424 .gp-min-h-0{min-height:0}.gps-523669372808463424 .gp-w-full{width:100%}.gps-523669372808463424 .gp-max-w-full{max-width:100%}.gps-523669372808463424 .-gp-rotate-90{--tw-rotate:-90deg}.gps-523669372808463424 .-gp-rotate-90,.gps-523669372808463424 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-523669372808463424 .gp-rotate-180{--tw-rotate:180deg}.gps-523669372808463424 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-523669372808463424 .gp-cursor-pointer{cursor:pointer}.gps-523669372808463424 .gp-flex-col{flex-direction:column}.gps-523669372808463424 .gp-items-center{align-items:center}.gps-523669372808463424 .gp-justify-center{justify-content:center}.gps-523669372808463424 .gp-gap-y-0{row-gap:0}.gps-523669372808463424 .gp-overflow-hidden{overflow:hidden}.gps-523669372808463424 .gp-overflow-clip{overflow:clip}.gps-523669372808463424 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-523669372808463424 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523669372808463424 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523669372808463424 .gp-duration-200{transition-duration:.2s}.gps-523669372808463424 .gp-duration-500{transition-duration:.5s}.gps-523669372808463424 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-523669372808463424 .tablet\:\!gp-hidden{display:none!important}.gps-523669372808463424 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-523669372808463424 .mobile\:\!gp-hidden{display:none!important}.gps-523669372808463424 .mobile\:gp-hidden{display:none}}.gps-523669372808463424 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-523669372808463424 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-523669372808463424 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-523669372808463424 .\[\&_p\]\:gp-inline p{display:inline}.gps-523669372808463424 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-523669372808463424 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gklmYwkWPX"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gklmYwkWPX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpc2oO9L7_ gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_PGsuiuGa"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--cg:30px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_PGsuiuGa gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYl7EtP0X4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7el1mJOcv "
        style="--tt:default;--ta:left;--bs:solid;--bw:0px 0px 0px 0px;--bc:#FDAC2B;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg7el1mJOcv_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g_IOLOkxRv "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_IOLOkxRv_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gIrwyJpTcu "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIrwyJpTcu_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g4Lk8d8bD2 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4Lk8d8bD2_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gH8ad7qioe "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggH8ad7qioe_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g9NER7Qh2g "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-3xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg9NER7Qh2g_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMS4M92zqA gp-relative gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:0px" class="gL20dGz2A8 ">
      
    <gp-accordion
      uid="gL20dGz2A8"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:32px;border-radius:inherit;overflow:hidden"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":1,"expanded":false,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"layoutHeader":"text-only","expandedMode":"single","configIconSize":16,"parentUid":"gL20dGz2A8","childListNumber":[],"chidlrenUid":["gF__0wDfem","g6fLT-L6fx","gxCpmIAoVJ","gZhJNroIvx","g4KnnhFwRi","gHRr_fnVZX","gZj0a79bRV","gEhawZcO-G","gQllkPm8GP"]},"styles":{"bgColor":{"normal":"#F6F6F6"},"color":{"active":"#242424","hover":"#242424","normal":"#242424"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"},"mobile":{"horizontal":"21px","vertical":"14px"}}},"textColor":{"active":"#242424","hover":"#242424","normal":"#242424"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"32px","padding":{"bottom":"0px","left":"48px","right":"48px","top":"0px","type":"custom"}},"mobile":{"padding":{"bottom":"0px","left":"48px","right":"48px","top":"0px","type":"custom"}},"tablet":{"padding":{"bottom":"0px","left":"48px","right":"48px","top":"0px","type":"custom"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"padding":{"bottom":"14px","left":"21px","right":"21px","top":"14px","type":"custom"}},"tablet":{"padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"gL20dGz2A8"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-0:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-0:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-0:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-0:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="0"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gF__0wDfem"
        id="gF__0wDfem"
        data-index="0"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-0:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-0:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="0"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_0 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gF__0wDfem"
        data-index="0"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gF__0wDfem"
        data-index="0"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gpTUmGUH4I gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-kWlBuKbU "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-kWlBuKbU_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-1:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-1:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-1:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-1:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="1"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g6fLT-L6fx"
        id="g6fLT-L6fx"
        data-index="1"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-1:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-1:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="1"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_1 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g6fLT-L6fx"
        data-index="1"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g6fLT-L6fx"
        data-index="1"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gCVMbeM1cH gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gK5uIWJZqU "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggK5uIWJZqU_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-2:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-2:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-2:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-2:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="2"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gxCpmIAoVJ"
        id="gxCpmIAoVJ"
        data-index="2"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-2:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-2:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="2"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_2 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gxCpmIAoVJ"
        data-index="2"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gxCpmIAoVJ"
        data-index="2"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="g_vljDQWgb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gROERxkAxA "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggROERxkAxA_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-3:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-3:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-3:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-3:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="3"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gZhJNroIvx"
        id="gZhJNroIvx"
        data-index="3"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-3:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-3:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="3"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_3 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gZhJNroIvx"
        data-index="3"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gZhJNroIvx"
        data-index="3"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gfgNRdAdpr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gz517snFcx "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggz517snFcx_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-4:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-4:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-4:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-4:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="4"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g4KnnhFwRi"
        id="g4KnnhFwRi"
        data-index="4"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-4:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-4:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="4"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_4 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="g4KnnhFwRi"
        data-index="4"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g4KnnhFwRi"
        data-index="4"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gJ3drWw-Lq gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gj_4eb2YiS "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggj_4eb2YiS_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-5:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-5:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-5:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-5:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="5"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gHRr_fnVZX"
        id="gHRr_fnVZX"
        data-index="5"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-5:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-5:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="5"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_5 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gHRr_fnVZX"
        data-index="5"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gHRr_fnVZX"
        data-index="5"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gMDAuuOM3W gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gdzTIeYgWZ "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdzTIeYgWZ_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-6:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-6:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-6:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-6:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="6"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gZj0a79bRV"
        id="gZj0a79bRV"
        data-index="6"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-6:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-6:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="6"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_6 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gZj0a79bRV"
        data-index="6"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gZj0a79bRV"
        data-index="6"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gUfJM8L5Zf gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtYafqzkGv "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggtYafqzkGv_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-7:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-7:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-7:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-7:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="7"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gEhawZcO-G"
        id="gEhawZcO-G"
        data-index="7"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-7:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-7:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="7"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_7 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gEhawZcO-G"
        data-index="7"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gEhawZcO-G"
        data-index="7"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gFMJH8BEu6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJ_qFFTqTu "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggJ_qFFTqTu_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <style title="gp-accordion-item-style">
  .gp-accordion-item .gp-accordion-item-gL20dGz2A8-8:hover .gp-collapsible-icon.gp-accordion-item-hover, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-8:hover .gp-icon.gp-accordion-item-hover 
     {
        color: #242424 !important
      }
    .gp-accordion-item .gp-accordion-item-gL20dGz2A8-8:hover .gp-collapsible-icon.gp-accordion-item-active, .gp-accordion-item .gp-accordion-item-gL20dGz2A8-8:hover .gp-icon.gp-accordion-item-active
     {
        color: #121212 !important
      }
  </style>
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212">
    <div
      data-index="8"
      class="gL20dGz2A8 gp-accordion-item gp-overflow-hidden"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gQllkPm8GP"
        id="gQllkPm8GP"
        data-index="8"
        class="gL20dGz2A8 gp-accordion-item-gL20dGz2A8-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:21px;--pr-mobile:21px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#F6F6F6;--hvr-c:#242424;--c:#242424;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gL20dGz2A8.gp-accordion-item-gL20dGz2A8-8:hover .gp-collapsible-icon, .gL20dGz2A8.gp-accordion-item-gL20dGz2A8-8:hover .gp-icon {
                  color: #242424
              } {
          }</style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#242424;width:16px;height:16px"
            data-index="8"
            class="gL20dGz2A8 gp-accordion-item_icon gp-collapsible-icon gp-rotate-90 gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg fill='currentColor' width='16' height='16' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill='currentColor' d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"/></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
    <div
      
        class=" "
        
      >
      <div  >
        <span
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggL20dGz2A8_childItem_8 }}</span>
      </div>
    </div>
        
      </div>
      </div>
      <div
        uid="gQllkPm8GP"
        data-index="8"
        data-show="false"
        class="gL20dGz2A8 gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gQllkPm8GP"
        data-index="8"
        class="gL20dGz2A8 gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:48px;--pr:48px;--pl-tablet:48px;--pr-tablet:48px;--pl-mobile:48px;--pr-mobile:48px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gmey-C_hG8 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g1908xwlAs "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg1908xwlAs_text }}</div>
      </div>
    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-523669372808463424 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/infant-ro/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=523664996387783481&sectionId=523669372808463424)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg7el1mJOcv_text","label":"gg7el1mJOcv_text","default":"Intrebari &amp; Raspunsuri"},{"type":"html","id":"gg_IOLOkxRv_text","label":"gg_IOLOkxRv_text","default":"<p>Ai ntrebri? Suntem aici pentru a ajuta</p>"},{"type":"html","id":"ggIrwyJpTcu_text","label":"ggIrwyJpTcu_text","default":"<p>CALL US:</p>"},{"type":"html","id":"gg4Lk8d8bD2_text","label":"gg4Lk8d8bD2_text","default":"<p>+40 0730046747</p>"},{"type":"html","id":"ggH8ad7qioe_text","label":"ggH8ad7qioe_text","default":"<p>EMAIL:</p>"},{"type":"html","id":"gg9NER7Qh2g_text","label":"gg9NER7Qh2g_text","default":"<p>cs@infant.ro</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_0","label":"ggL20dGz2A8_childItem_0","default":"<p>Care este politica de returnare pentru produsele achiziionate de pe site-ul Infant.ro?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_1","label":"ggL20dGz2A8_childItem_1","default":"<p>Ce condiii trebuie ndeplinite pentru a beneficia de garania produselor de pe Infant.ro?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_2","label":"ggL20dGz2A8_childItem_2","default":"<p>Ce informaii sunt necesare pentru a plasa o comand pe Infant.ro?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_3","label":"ggL20dGz2A8_childItem_3","default":"<p>Care este povestea din spatele brandului Infant?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_4","label":"ggL20dGz2A8_childItem_4","default":"<p>Cum pot iniia un retur pe Infant.ro?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_5","label":"ggL20dGz2A8_childItem_5","default":"<p>Cine suport costurile de transport pentru retur?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_6","label":"ggL20dGz2A8_childItem_6","default":"<p>Pot returna produsele personalizate sau produse de igien?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_7","label":"ggL20dGz2A8_childItem_7","default":"<p>Ct timp dureaz procesarea unui retur i rambursarea sumei?</p>"},{"type":"html","id":"ggL20dGz2A8_childItem_8","label":"ggL20dGz2A8_childItem_8","default":"<p>Ce trebuie s fac dac produsul primit este deteriorat sau defect?</p>"},{"type":"html","id":"gg-kWlBuKbU_text","label":"gg-kWlBuKbU_text","default":"<p>La Infant.ro, clienii au dreptul s returneze produsele achiziionate n termen de 14 zile calendaristice de la data primirii acestora. Produsele trebuie s fie n starea original, nefolosite i n ambalajul original. Pentru a iniia un retur, clienii trebuie s contacteze echipa de suport prin email sau telefon, specificnd detaliile comenzii i motivul returnrii.</p>"},{"type":"html","id":"ggK5uIWJZqU_text","label":"ggK5uIWJZqU_text","default":"<p>Garania produselor achiziionate de pe Infant.ro este valabil pentru o perioad de 24 de luni de la data achiziiei. Produsele trebuie utilizate conform instruciunilor i specificaiilor productorului. n cazul defectelor de fabricaie, clienii trebuie s contacteze echipa de suport pentru a aranja returnarea produsului i evaluarea acestuia. Garania nu acoper uzura normal, utilizarea necorespunztoare sau daunele cauzate de manipularea incorect.</p>"},{"type":"html","id":"ggROERxkAxA_text","label":"ggROERxkAxA_text","default":"<p>Infant.ro se angajeaz s protejeze confidenialitatea datelor personale ale clienilor. Site-ul utilizeaz msuri de securitate tehnice i organizatorice adecvate pentru a proteja datele mpotriva accesului neautorizat, utilizrii incorecte sau divulgrii. Datele personale sunt colectate i procesate doar n scopurile specificate n politica de confidenialitate i nu sunt partajate cu teri fr consimmntul explicit al clienilor, cu excepia cazurilor impuse de lege.</p>"},{"type":"html","id":"ggz517snFcx_text","label":"ggz517snFcx_text","default":"<p>Povestea Infant a nceput din dorina de a oferi produse de calitate pentru copii, care s rspund nevoilor i ateptrilor prinilor moderni. Fondatorii au fost inspirai de experienele personale i de dorina de a crea un magazin online unde prinii s poat gsi produse sigure, inovatoare i accesibile. Infant.ro se mndrete cu o selecie atent de produse, bazat pe calitate i funcionalitate, i cu un angajament constant fa de satisfacia clienilor.</p>"},{"type":"html","id":"ggj_4eb2YiS_text","label":"ggj_4eb2YiS_text","default":"<p>Pentru a iniia un retur, clienii trebuie s contacteze echipa de suport Infant.ro prin email la adresa specificat pe site sau prin telefon, menionnd numrul comenzii i motivul returnrii. Echipa de suport va oferi instruciuni detaliate pentru procesul de retur.</p>"},{"type":"html","id":"ggdzTIeYgWZ_text","label":"ggdzTIeYgWZ_text","default":"<p>Costurile de transport pentru retur sunt suportate de ctre client, cu excepia cazului n care produsul returnat prezint defecte de fabricaie sau a fost livrat greit. n aceste cazuri, Infant.ro va acoperi costurile de transport.</p>"},{"type":"html","id":"ggtYafqzkGv_text","label":"ggtYafqzkGv_text","default":"<p>Conform politicii de returnare a Infant.ro, produsele personalizate i produsele de igien nu pot fi returnate din motive de protecie a sntii i din motive igienice, dac au fost desigilate dup livrare.</p>"},{"type":"html","id":"ggJ_qFFTqTu_text","label":"ggJ_qFFTqTu_text","default":"<p>Procesarea unui retur poate dura pn la 14 zile calendaristice de la data primirii produsului returnat. Rambursarea sumei va fi efectuat prin aceeai metod de plat utilizat pentru achiziie, iar durata poate varia n funcie de politica bncii sau a procesatorului de pli.</p>"},{"type":"html","id":"gg1908xwlAs_text","label":"gg1908xwlAs_text","default":"<p>n cazul n care produsul primit este deteriorat sau defect, clienii trebuie s contacteze imediat echipa de suport Infant.ro, furniznd detalii i, dac este posibil, fotografii ale produsului. Infant.ro va aranja returnarea produsului i va oferi fie un produs de nlocuire, fie rambursarea sumei pltite.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
