

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-523665294317585472.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-523665294317585472.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-523665294317585472.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-523665294317585472.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-523665294317585472.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-523665294317585472.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-523665294317585472.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-523665294317585472.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-523665294317585472.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-523665294317585472.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-523665294317585472.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-523665294317585472.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-523665294317585472.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-523665294317585472.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-523665294317585472.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-523665294317585472.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-523665294317585472.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-523665294317585472.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-523665294317585472.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-523665294317585472.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-523665294317585472.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-523665294317585472.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-523665294317585472.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-523665294317585472.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-523665294317585472.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-523665294317585472.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-523665294317585472.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-523665294317585472.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-523665294317585472.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-523665294317585472.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-523665294317585472.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-523665294317585472.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-523665294317585472.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-523665294317585472.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-523665294317585472.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-523665294317585472.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-523665294317585472.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-523665294317585472.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-523665294317585472.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-523665294317585472.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-523665294317585472.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-523665294317585472.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-523665294317585472.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-523665294317585472.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-523665294317585472.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-523665294317585472.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-523665294317585472.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-523665294317585472.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-523665294317585472.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-523665294317585472.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-523665294317585472.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-523665294317585472.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-523665294317585472.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-523665294317585472.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-523665294317585472.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-523665294317585472.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-523665294317585472.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-523665294317585472.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-523665294317585472.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-523665294317585472.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-523665294317585472.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-523665294317585472.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-523665294317585472.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-523665294317585472.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-523665294317585472.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-523665294317585472.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-523665294317585472.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-523665294317585472.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-523665294317585472 .focus\:\!gp-shadow-none,.gps-523665294317585472 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-523665294317585472 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-523665294317585472 .gp-fixed{position:fixed}.gps-523665294317585472 .gp-relative{position:relative}.gps-523665294317585472 .gp-top-\[27px\]{top:27px}.gps-523665294317585472 .gp-z-1{z-index:1}.gps-523665294317585472 .gp-z-100{z-index:100}.gps-523665294317585472 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-523665294317585472 .gp-mb-0{margin-bottom:0}.gps-523665294317585472 .\!gp-inline{display:inline!important}.gps-523665294317585472 .gp-flex{display:flex}.gps-523665294317585472 .gp-inline-flex{display:inline-flex}.gps-523665294317585472 .gp-grid{display:grid}.gps-523665294317585472 .\!gp-hidden{display:none!important}.gps-523665294317585472 .gp-hidden{display:none}.gps-523665294317585472 .\!gp-h-auto{height:auto!important}.gps-523665294317585472 .gp-h-full{height:100%}.gps-523665294317585472 .gp-min-h-\[150px\]{min-height:150px}.gps-523665294317585472 .gp-w-full{width:100%}.gps-523665294317585472 .gp-max-w-full{max-width:100%}.gps-523665294317585472 .gp-flex-col{flex-direction:column}.gps-523665294317585472 .gp-items-center{align-items:center}.gps-523665294317585472 .gp-justify-center{justify-content:center}.gps-523665294317585472 .gp-gap-y-0{row-gap:0}.gps-523665294317585472 .gp-overflow-hidden{overflow:hidden}.gps-523665294317585472 .gp-break-words{overflow-wrap:break-word}.gps-523665294317585472 .gp-rounded{border-radius:4px}.gps-523665294317585472 .gp-rounded-none{border-radius:0}.gps-523665294317585472 .\!gp-bg-none{background-image:none!important}.gps-523665294317585472 .gp-p-\[16px\]{padding:16px}.gps-523665294317585472 .gp-text-\[14px\]{font-size:14px}.gps-523665294317585472 .gp-leading-normal{line-height:1.5}.gps-523665294317585472 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-523665294317585472 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-523665294317585472 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-523665294317585472 .gp-no-underline{text-decoration-line:none}.gps-523665294317585472 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-523665294317585472 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523665294317585472 .gp-duration-200{transition-duration:.2s}.gps-523665294317585472 .gp-duration-300{transition-duration:.3s}.gps-523665294317585472 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-523665294317585472 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-523665294317585472 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-523665294317585472 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-523665294317585472 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-523665294317585472 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-523665294317585472 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-523665294317585472 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1023px){.gps-523665294317585472 .tablet\:\!gp-hidden{display:none!important}.gps-523665294317585472 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-523665294317585472 .mobile\:\!gp-hidden{display:none!important}.gps-523665294317585472 .mobile\:gp-hidden{display:none}}.gps-523665294317585472 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-523665294317585472 .\[\&_p\]\:gp-inline p{display:inline}.gps-523665294317585472 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-523665294317585472 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-523665294317585472 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gmvVCkMtp1"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmvVCkMtp1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g_Ih2SpFNb gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gxJCoOW7WE"
        style="--bs:solid;--bw:0px;--bc:#121212;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxJCoOW7WE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geZDPHbLbp gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ggDy7xbQKm"
        style="--bs:solid;--bw:0px 1px 0px 0px;--bc:#EEEEEE;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--pl:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggDy7xbQKm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh-wypHNxX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gMIRjcK7jA "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggMIRjcK7jA_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gq365oQhpS "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggq365oQhpS_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gdSKTULW-u "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggdSKTULW-u_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g143YzHeXU "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg143YzHeXU_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gTqeCofwrw "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTqeCofwrw_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gwlO3OYkR1 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwlO3OYkR1_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gR9830qR-0 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggR9830qR-0_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g4sbkpn2GG "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg4sbkpn2GG_text }}</div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gVy0YdFCIb "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-s);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-text-2 gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--weight:bold;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggVy0YdFCIb_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g0Q2G8LxfA "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0Q2G8LxfA_text }}</div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g5C7xkdZgO"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5C7xkdZgO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gIvlUlJS80 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image grzm1IZgqc"
    style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/e406070b-4b32-4429-8141-6d7ce0937f40/-/format/auto/"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/e406070b-4b32-4429-8141-6d7ce0937f40/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHkWpOVeTe gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gjo1AkFx2E"
    style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/30bde5c4-404c-46b8-b4ba-eabc37dab894/-/format/auto/"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/30bde5c4-404c-46b8-b4ba-eabc37dab894/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBSiDT3it7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gDd4gDYkQv"
    style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/203dbf9b-2516-479b-9b54-274d8f02ec02/-/format/auto/"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/203dbf9b-2516-479b-9b54-274d8f02ec02/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gv-WL2yZUs gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gMGkr6J1mp"
    style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto h-full"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--ta:left"
      >
        
  {%- liquid
    assign isFetchPriorityHigh = 'false'
    
  -%}
  <picture style="border-radius: inherit" >
    {%- if isFetchPriorityHigh == 'true' -%}
      
        
        <img
          
          class="!gp-inline gp-h-full gp-max-w-full gp-flex"
          src="https://ucarecdn.com/cd9f0ead-1189-47b6-84e8-1e6f0d11d415/-/format/auto/"
          alt="Alt Image"
          fetchpriority="high"
          style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
        />
    {%- else -%}
      
      
      <img
        
        class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
        data-src="https://ucarecdn.com/cd9f0ead-1189-47b6-84e8-1e6f0d11d415/-/format/auto/"
        width="100%"
        alt="Alt Image"
        style="--aspect:46/46;--aspect-tablet:46/46;--aspect-mobile:46/46;--objf:cover;--w:46px;--w-tablet:46px;--w-mobile:46px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;border-radius:inherit"
      />
    {%- endif -%}
  </picture>
      </a>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggbGVLwjev gp-relative gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--pt:auto;--pl:auto;--pb:auto;--pr:var(--g-s-3xl);--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:var(--g-s-2xl)" class="gVncujHxWy ">
      
    
    <gp-form
      id="gVncujHxWy"
      
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gVncujHxWy"
        href="" target=""
      >
      </a>
      {% form 'contact', class: 'gp-form-gVncujHxWy ', id: 'contact_form_gVncujHxWy' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gVncujHxWy"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div
          id="gp-form-success-gVncujHxWy"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div>
        
      
      
    <div
      parentTag="ContactForm" id="gw4W3c3qJ0"
        style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:grid;--d-mobile:grid;--d-tablet:grid;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--cg:var(--g-s-2xl);--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gw4W3c3qJ0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="goKh8_Mvyg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g0o-dWUn0I "
        style="--tt:uppercase;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg0o-dWUn0I_text }}</div>
      </div>
    </div>
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
    >
      <input
        type="text"
        class="gp-form-item g-U9Dz8Tb8 gp-g-paragraph-1 gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:0px;--pr:0px;--pt:12px;--pb:12px;--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object]"
        placeholder="{{ section.settings.gg-U9Dz8Tb8_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsJjCLF9Go gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gHTpiCPapY "
        style="--tt:uppercase;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggHTpiCPapY_text }}</div>
      </div>
    </div>
    <div
      class="gUn0hjfNV_"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object]"
        placeholder="{{ section.settings.ggUn0hjfNV__placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
    </div>
    </div>
  
    
    <div
      parentTag="ContactForm"
        class="gO71I1Y2-v "
        style="--tt:uppercase;--ta:left;--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--mb:var(--g-s-xxs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggO71I1Y2-v_text }}</div>
      </div>
    </div>
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
    >
      <textarea
        class="gp-form-item gg1_0o4CgT gp-g-paragraph-1 gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--pl:0px;--pr:0px;--pt:12px;--pb:12px;--tt:default;--bs:solid;--bw:0px 0px 1px 0px;--bc:#EEEEEE;--border:[object Object];--rounded:[object Object];--hasBoxShadow:[object Object];--shadow:none;--boxShadow:[object Object];--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="Introduceți mesajul dvs"
        {% if false %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
    
  <gp-button >
  <div
    
    style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:block;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--ta:right;--ta-mobile:left"
    
  >
    <style>
    .gBGFHCi4oo.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
    }

    .gBGFHCi4oo:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
    }

    .gBGFHCi4oo:hover .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

     .gBGFHCi4oo .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gBGFHCi4oo:hover .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gBGFHCi4oo .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gBGFHCi4oo .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gBGFHCi4oo:hover .gp-product-dot-price {
      color: var(--g-c-bg-3, bg-3);
    }
  </style>
    <button
      type="submit" data-id="gBGFHCi4oo" aria-label="Submit"
      
      data-state="idle"
      class="gBGFHCi4oo gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-text-g-bg-3 gp-text-g-bg-3"
      style="--hvr-bg:#424242;--bg:#242424;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--fs:normal;--weight:600;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-button-text-only gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden undefined
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px"
      >
        {{ section.settings.ggBGFHCi4oo_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
  
    <div
      
      style="--bs:none;--bw:0px;--bc:transparent;--border:[object Object];--shadow:none;--boxShadow:[object Object];--d:block;--d-mobile:none;--d-tablet:block;--hasBoxShadow:[object Object];--op:100%;--rounded:[object Object];--bgc:#eee;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g48x_JICId "
    ><div><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d976.2739388246173!2d27.38511967224111!3d46.20409506865501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sro!2sro!4v1721661612823!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div></div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-523665294317585472 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/infant-ro/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=523664996387783481&sectionId=523665294317585472)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggMIRjcK7jA_text","label":"ggMIRjcK7jA_text","default":"Contactează-ne"},{"type":"html","id":"ggq365oQhpS_text","label":"ggq365oQhpS_text","default":"<p>Suntem aici să te ajutăm cu orice întrebări sau nelămuriri. Completează formularul de mai jos și vom reveni la tine în cel mai scurt timp.</p>"},{"type":"html","id":"ggdSKTULW-u_text","label":"ggdSKTULW-u_text","default":"<p>Phone:</p>"},{"type":"html","id":"gg143YzHeXU_text","label":"gg143YzHeXU_text","default":"<p><u>WhatsApp : </u><a href=\"https://wa.me/message/KRLXDNNCTIOML1\"><u>+40 0730046747</u></a></p>"},{"type":"html","id":"ggTqeCofwrw_text","label":"ggTqeCofwrw_text","default":"<p>Address:</p>"},{"type":"html","id":"ggwlO3OYkR1_text","label":"ggwlO3OYkR1_text","default":"<p>Tudor Vladimirescu 185 ,Podu Turcului</p>"},{"type":"html","id":"ggR9830qR-0_text","label":"ggR9830qR-0_text","default":"<p>Email:</p>"},{"type":"html","id":"gg4sbkpn2GG_text","label":"gg4sbkpn2GG_text","default":"<p>cs@infant.ro</p>"},{"type":"html","id":"ggVy0YdFCIb_text","label":"ggVy0YdFCIb_text","default":"Ore de disponibilitate:"},{"type":"html","id":"gg0Q2G8LxfA_text","label":"gg0Q2G8LxfA_text","default":"<p>Luni - Vineri &nbsp; &nbsp; &nbsp; 09:00 - 17:00</p>"},{"type":"html","id":"gg0o-dWUn0I_text","label":"gg0o-dWUn0I_text","default":"<p>Nume</p>"},{"type":"html","id":"gg-U9Dz8Tb8_placeholder","label":"gg-U9Dz8Tb8_placeholder","default":"* Introduceți prenumele dvs"},{"type":"html","id":"ggHTpiCPapY_text","label":"ggHTpiCPapY_text","default":"<p>EMAIL</p>"},{"type":"html","id":"ggUn0hjfNV__placeholder","label":"ggUn0hjfNV__placeholder","default":"* Introduceți adresa dvs. de email"},{"type":"html","id":"ggO71I1Y2-v_text","label":"ggO71I1Y2-v_text","default":"<p>Mesajul Dumneavoastră</p>"},{"type":"html","id":"ggg1_0o4CgT_placeholder","label":"ggg1_0o4CgT_placeholder","default":"Introduceți mesajul dvs"},{"type":"html","id":"ggBGFHCi4oo_label","label":"ggBGFHCi4oo_label","default":"Submit"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
